@using eTickets.Models.ViewModels
@using eTickets.Models.Models.Enumerables
@model MovieVM


<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Create a new movie</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="AddMovie">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="Name" class="form-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="StartDate" class="form-label"></label>
                                <input asp-for="StartDate" class="form-control" />
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="EndDate" class="form-label"></label>
                                <input asp-for="EndDate" class="form-control" />
                                <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Price" class="form-label"></label>
                                <input asp-for="Price" type="number" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ImageUrl" class="form-label"></label>
                                <input asp-for="ImageUrl" class="form-control" />
                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="CinemaId" class="form-label"></label>
                                <select asp-for="CinemaId" class="form-select" asp-items="ViewBag.Cinemas"> </select>
                                <span asp-validation-for="CinemaId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Category" class="form-label"></label>
                                <select asp-for="Category" class="form-select" asp-items="Html.GetEnumSelectList<MovieCategory>()"> </select>
                                <span asp-validation-for="Category" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ProducerId" class="form-label"></label>
                                <select asp-for="ProducerId" class="form-select" asp-items="ViewBag.Producers"> </select>
                                <span asp-validation-for="ProducerId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ActorId" class="form-label"></label>
                                <select asp-for="ActorId" class="form-select" asp-items="ViewBag.Actors"> </select>
                                <span asp-validation-for="ActorId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3">
                                <label asp-for="Description" class="form-label"></label>
                                <textarea asp-for="Description" class="form-text" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4 offset-4 text-center">
                            <img width="100%" id="ImageUrlPreview" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $("#ImageUrl").on("change",function( ){
            var addToSrc = document.getElementById('ImageUrlPreview');
            addToSrc.src = $(this).val();
        })
    </script>
}