@mixin features-heading() {
    

    &::after {
        content: '';
        position: absolute;
        bottom: -1.5rem;
        left: 50%;
        transform: translateX(-50%);
        height: .3rem;
        width: 60%;
        border-radius: 5rem;
        background: #333;
    }
}


#features {

    .features-heading {
        @include features-heading();
        color: crimson;
    }

    .box-container {
        width: 100%;
        flex-wrap: wrap;

        .box {
            width: 14rem;
            height: 17rem;
            border-radius: .5rem;
            box-shadow: 0 0 .3rem #333;
            margin: 2rem;
            flex-flow: column;
            cursor: pointer;
            overflow: hidden;

            h5,p {
                opacity: 0;
                color: white;
                text-align: center;
                transition: transform ease 1s;
            }

            &:hover h5 {
                opacity: 1;
                transform: translateY(-12rem);
            }

            &:hover p {
                opacity: 1;
                transform: translateY(-11rem);
            }

            &:hover {
                background-color: #333;
            }
        }
    }
}
